
<header>
<div class="  d-flex flex-column flex-md-row align-items-md-center justify-content-md-around ">
    <h1 class="p-3 px-md-0">
    <a href="index.html">
        <img src="../assets/images/logo-white.png" alt="">
    </a>
</h1>
<ul class=" nav w-100 d-flex flex-wrap  flex-md-nowrap justify-content-md-between">
    <li class="w-50 w-md-25 py-3 text-center"><a href="product.html">系列鏡框</a></li>
    <li class="w-50 w-md-25 py-3 text-center"><a href="location.html">門市據點</a></li>
    <li class="w-50 w-md-25 py-3 text-center"><a href="#">部落格</a></li>
    <li class="w-50 w-md-25 py-3 text-center"><a href="qa.html">常見問題</a></li>
</ul>
</div>
</header>