header{
  background:$main-red;
  font-size: 16px;
  @include pad{
    font-size: 20px;
  }
}
.nav{
  @include pad{
    max-width: 492px;
  }
  li{
    border: solid 1px $main-white;
    @include pad{
      border: none;
    }
    &:hover{
      background-color: $main-brown;
    }
  }
}
h1{
  img{
    width: 80px;
  }
}
