.blog-list{
    width: 100%;
    li{
        margin-bottom: 24px;
    }
    margin-bottom: 40px;
    @include pad{
        margin-bottom: 56px;
    }
    @include pc{
        li{
            margin-bottom: 60px;
        }
        margin-bottom: 64px;
    }
    h3{
        font-size: 1.5rem;
        @include pc{
            font-size: 2rem;  
        }
    }
    .card-text,.card-date{
        @include pc{
            font-size: 1.25rem;
        }
    }
    button{
        width: 101px;
        height: 54px;
        font-size: 36px;
    }
    
}