
.banner{
  height: 396px;
  background-image: url(../images/home-header-sm.png);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  color: $main-brown;
  @include mobile{
  height: 787px;
  }
  @include pc{
  background-image: url(../images/home-header.png);
  }
  .container{
    max-width: 346px;
    margin: auto 14px;
    @include pad{
      max-width: 696px;
      margin: auto 36px;
    }
    @include pc{
      max-width: 1296px;
    }
  }
  span{
    font-size: 16px;
    @include pad{
      font-size: 36px;
    }

  }
  p{
    font-size: 24px;
    @include pad{
      font-size: 64px;
    }
  }
  a{
    background-color: $main-red;
    padding: 6px 12px;
    &:hover{
      background-color: $main-brown;
    }
  }
}

section{
  .container{
    padding-top: 40px;
    padding-bottom: 40px;
    @include pad{
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  h2{
    @include pad{
      font-size: 48px;
    }
    @include pc{
    margin-bottom: 32px;
    }
  }
  h2,h3{
    color: $main-brown;
    font-weight: bold;
  }
}
.serve{
  background-color: $main-pink;
  ul{
    li{
      @include pad{
        width: 50%;
      }
      @include pc{
        width: 24%;
      }
    }
  }
  img{
    width: 85px;

  }
}
.classic{
  .container{
    margin: 0 auto;
    max-width: 416px;
    @include pc{
      max-width: 1296px;
    }
  }
  p{
    font-weight: bold;
    color: $main-red;
    font-size: 48px;
    font-style: italic;
  }
  ul{
    @include pc{
      width: 100%;
    }
    li{
      @include pc{
        width: 32%;
      }
    }
  }
}
