.nav-tabs{
    max-width: 1296px;
    border: 1px solid #DCDCDC;
    .nav-item{
        width: 33.333%;
        border: 1px solid #DCDCDC;
        button{
            width: 100%;
            border-radius: 0;
            border: 0;
            &:focus{
                border-bottom: 8px solid $main-red ;
            }
        }
    }
    @include pad{
        font-size: 24px;
    }
    @include pc{
        font-size: 32px;
    }
}
.product-banner{
    max-height: 296px; 
    margin-bottom: 40px;
    @include pad{
        margin-bottom: 80px;
    }
}
.product-title{
    font-size: 24px;
    margin-bottom: 24px;
    @include pad{
        margin-bottom: 32px;
        p:first-child{
            font-size: 42px;
        }
        p:last-child{
            font-size: 32px;
        }
    }
    
}
.product-list,.sunglasses-list{
    margin-bottom: 40px;
    img{
        width: 100%;
    }
    li{
        width: 100%;
        margin-bottom: 24px;
        @include pad{
            width:48%;
            margin-bottom: 40px;
        }
        @include pc{
            width: 23%;
        }
    }
}
.sunglasses-list{
    li{
        @include pc{
            width: 30%;
        }
    }
}
.color-box{
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.color-box-bg1{
    background-color: #5F3E2D;
}
.color-box-bg2{
    background-color: #B75929;
}

