.qa-title{
    border-left: 8px solid $main-red;
    font-size: 24px;
    margin-bottom: 24px;
    @include pad{
        font-size: 48px;
        margin-bottom: 38px;
    }
}

.qa-container{
    padding-top: 40px;
    padding-bottom: 40px;
    ul{
        max-width: 856px;
    }
}