.location-title{
    border-left: 8px solid $main-red;
    font-size: 24px;
    margin-bottom: 24px;
    @include pad{
        font-size: 48px;
        margin-bottom: 38px;
    }
}
.location-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.location-dropdown{
    label{
        @include pad{
        font-size: 1.5rem;
        }
    }
    select{
        font-size: 18px;
        max-width: 276px;
        @include pad{
            max-width: 304px;
        }
    }
}

.location-list{
    padding-top: 24px;
    padding-bottom: 24px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    li{
        width: 100%;
        @include pad{
            width: 48%;
        }
        @include pc{
            width: 32%;
        }
    }
    img{
        width: 100%;
    }
    button{
        font-size: 19px;
    }
}

.shop-name{
    border: 1px solid #00000020;
}