<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="banner position-relative ">
        <div class="container position-absolute top-50  end-0 translate-middle-y text-end">
          <span class="">Promise-Desert 2020 早春系列</span>
          <p class="fw-bold mb-3">看得清，才能看得遠</p>
          <a class="" href="./product.html">立即購買</a>
        </div>
      </div>
  
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
