<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container location-container">
    <h2 class="border-left-title ps-3 fw-bold">
      門市據點
    </h2>

    <!-- dropdown start-->
    <div class="d-flex location-dropdown align-items-center">
      <label for="form-select" class="me-2">選擇地區</label>
      <select class="form-select area" aria-label="Default select example" name="form-select">
        <option selected value="全部區域">全部區域</option>
        <option value="台北市">台北市</option>
        <option value="台中市">台中市</option>
        <option value="高雄市">高雄市</option>
      </select>
    </div>
    <!-- dropdown end-->

    <!-- location-list start-->
    <!-- <ul class="location-list d-md-flex flex-md-wrap justify-content-md-between justify-content-lg-start"> -->
      <ul class="select-list location-list d-md-flex flex-md-wrap row row-cols-1 row-cols-md-2 row-cols-lg-3">
    </ul>
    <!-- location-list end-->

  </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

    <!-- select-card-list渲染 -->
    <script>
      // DOM
      const selectList = document.querySelector(".select-list");
      const change = document.querySelector(".area");
      
      // 渲染資料
      renderData=[
        {
          img:'../assets/images/store-1.png',
          name:'台北中山旗艦店',
          area:'台北市',
          tel:'(02)000-1234',
          open:'10:00-21:00',
          address:'台北市中山區南京東路25巷2-1號',
        },
        {
          img:'../assets/images/store-2.png',
          name:'台北綠園店',
          area:'台北市',
          tel:'(02)000-2345',
          open:'10:00-21:00',
          address:'台北市中正區復興南路 132-1 號',
        },
        {
          img:'../assets/images/store-3.png',
          name:'台中清水旗艦店',
          area:'台中市',
          tel:'(02)000-1234',
          open:'10:00-21:00',
          address:'台中市清水區經南一路 23 號 8 樓',
        },
        {
          img:'../assets/images/store-4.png',
          name:'高雄中正形象店',
          area:'高雄市',
          tel:'(02)000-1234',
          open:'10:00-21:00',
          address:'高雄市苓雅區中正路 38 號 12 樓',
        },
        {
          img:'../assets/images/store-5.png',
          name:'高雄夢時代店',
          area:'高雄市',
          tel:'(02)000-1234',
          open:'10:00-21:00',
          address:'高雄市前鎮區中華一路 63 號 6 樓',
        }
      ];
      

      // 預設渲染函式
      function init(renderData){
  let str = "";

  renderData.forEach(function(item,index){
    str+= `<li class=" mb-4 col-md-6 col-lg-4" >
        <img src="${item.img}" alt="${item.name}">
        <h3 class="ps-4 py-2 shop-name mb-0">
          ${item.name}
        </h3>
        <div class="py-3  px-4 border-end border-start fz20">
          <p class="d-flex">
            <span class="material-symbols-outlined me-2">
              call
            </span>
            <span class="d-block">
            電話：${item.tel}
            </span>
          </p>
          <p class="d-flex">
            <span class="material-symbols-outlined me-2">
            schedule
            </span>
            <span class="d-block">
            營業時間：${item.open}
            </span>
          </p>
          <p class="d-flex mb-0">
            <span class="material-symbols-outlined me-2">
              location_on
            </span>
            <span class="d-block"> 
              地址：${item.address}
            </span> 
          </p>
        </div>
        <button class="w-100 bg-dark py-3"><a class="link-white" href="">詳細資訊</a></button>
      </li>`;
  });
  selectList.innerHTML=str;
};
// 進頁面第一次渲染
init(renderData);

      change.addEventListener("change",function(e){
      if(e.target.value ==="全部區域"){
      init(renderData);
      }else if((e.target.value ===undefined)){
        return;
      }else{
        let inputData = [];
    
        renderData.forEach(function(item){
      if(e.target.value ===item.area){
        inputData.push(item);
    }});
    init(inputData);
  }
});

    </script>
  </body>
</html>
